.about-section-one {
    background-image: url("../../images/about-us.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    display: flex;
    padding: 7%;
    justify-content: space-between;
    overflow: hidden;
}

.ab-section-one-div {
    display: flex;
    flex-direction: column;
}

.ab-section-one-div h1 {
    font-family: "G Medium";
    color: black;
    font-size: 5vw;
}

.ab-section-one-second-div {
    color: white;
    width: 60%;
    font-family: "G Light";
    font-size: 1.7vw;
    margin-top: -3%;
}

.ab-section-one-second-div h4 {
    font-family: "G Medium";
}

.ab-section-one-second-div p:nth-child(2) {
    margin-bottom: 7%;
}


/* IPAD */

@media only screen and (max-width: 1024px) {
    .about-section-one {
        background-image: url("../../images/about-us.png");
        height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40%;
        display: flex;
        padding: 7%;
        justify-content: space-between;
        overflow: hidden;
    }
    .ab-section-one-div {
        display: flex;
        flex-direction: column;
    }
    .ab-section-one-div h1 {
        font-family: "G Medium";
        color: black;
        font-size: 6vw;
    }
    .ab-section-one-second-div {
        color: white;
        width: 60%;
        font-family: "G Light";
        font-size: 2vw;
        margin-top: -3%;
    }
    .ab-section-one-second-div h4 {
        font-family: "G Medium";
    }
    .ab-section-one-second-div p:nth-child(2) {
        margin-bottom: 7%;
    }
}


/* MOBILE */

.about-section-one-mobile {
    background-image: url("../../images/about-us.png");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
}

.ab-section-one-div-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}

.ab-section-one-div-mobile h1 {
    font-family: "G Medium";
    color: black;
    font-size: 10vw;
}

.ab-section-one-second-div-mobile {
    color: white;
    margin-top: 10%;
    padding: 8%;
}

.ab-section-one-second-div-mobile p:nth-child(1) {
    font-family: "G Medium";
    margin-bottom: -1%;
    font-size: 4.5vw;
}

.ab-section-one-second-div-mobile p:nth-child(2) {
    font-family: "G Light";
    font-size: 4.5vw;
}