.second-section-home {
    height: 57vw;
    background-image: url("../../images/paramedicos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
}

.video-h3 {
    font-family: "G Light";
    color: white;
    font-size: 2.2vw;
}

.video-h2 {
    color: white;
    font-family: "G Medium";
    font-size: 2.8vw;
    margin-top: 0;
}

.video-divider {
    border-top: 1px solid white;
    width: 100%;
    margin-top: -2%;
}

.icons-div-video-section {
    width: 10vw;
}

.next-to-video-icons {
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
}

.icons-video-p {
    color: white;
    font-family: "G Light";
    width: 10vw;
    text-align: center;
    font-size: 1.2vw;
    margin-top: -5%;
}

.next-to-video {
    margin-left: -10%;
}


/* MOBILE */

.second-section-home-mobile {
    height: 83vh;
    background-image: url("../../images/paramedicos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    z-index: 0;
}

@media screen and ( min-height: 737px) {
    .second-section-home-mobile {
        height: 70vh;
        background-image: url("../../images/paramedicos.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
        z-index: 0;
    }
}

.next-to-video-mobile {
    margin-left: 0;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-h3-mobile {
    font-family: "G Light";
    color: white;
    font-size: 4vw;
}

.video-h2-mobile {
    color: white;
    font-family: "G Medium";
    font-size: 5vw;
    margin-top: 0;
}

.video-divider-mobile {
    border-top: 1px solid white;
    width: 70%;
    margin-top: -2%;
}

.next-to-video-icons-mobile {
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
}

.icons-div-video-section-mobile {
    width: 20vw;
}

.icons-video-p-mobile {
    color: white;
    font-family: "G Light";
    width: 40vw;
    text-align: center;
    font-size: 3vw;
    margin-top: -5%;
}